.Card {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;

  &__wrapper {
    box-shadow: 1.5px 1.5px 12px rgba(126, 125, 125, 0.575);
    border-radius: 0.3rem;
    padding: 1rem;
    min-height: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__image {
    width: 100%;
    max-width: 30rem;
  }

  &__title {
    text-transform: capitalize;
    text-align: justify;
  }

  &__description {
    text-align: justify;
  }

  &__author {
    text-transform: capitalize;
  }
}
